#virtual environment
.venv/

# jupyter
.ipynb_checkpoints/

# python
__pycache__/
*.pyc
*.pyo
*.pyd
venv*/
*.env

#datasets
datasets/

# IDEs
.vscode/
*.code-workspace

# Outros
.DS_Store

# preprocessed data
*.npy
*.keras
*.h5
